In [1]:
import numpy as np
import pandas as pd

In [2]:
outside = 'G1 G1 G1 G2 G2 G2'.split()

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [12]:
#index level
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [14]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [15]:
df

             A         B
G1 1 -1.800396  0.747223
   2  1.088545  0.257833
   3  0.451223 -1.086795
G2 1  0.561100 -0.319805
   2  1.439062 -0.006996
   3 -1.189521 -0.320346

In [16]:
df.loc['G1']

          A         B
1 -1.800396  0.747223
2  1.088545  0.257833
3  0.451223 -1.086795

In [18]:
df.loc['G1'].loc[1]

A   -1.800396
B    0.747223
Name: 1, dtype: float64

In [20]:
df.index.names = ['Groups','Num']

In [21]:
df

                   A         B
Groups Num
G1     1   -1.800396  0.747223
       2    1.088545  0.257833
       3    0.451223 -1.086795
G2     1    0.561100 -0.319805
       2    1.439062 -0.006996
       3   -1.189521 -0.320346

In [23]:
df.loc['G2'].loc[2]['B']

-0.0069963918040178135

In [24]:
df.loc['G1'].loc[3]['A']

0.45122305112376604

In [27]:
#***** Example of cross-section ********#
df.xs('G1')

            A         B
Num
1   -1.800396  0.747223
2    1.088545  0.257833
3    0.451223 -1.086795

In [28]:
df.loc['G1']

            A         B
Num
1   -1.800396  0.747223
2    1.088545  0.257833
3    0.451223 -1.086795

In [30]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.800396  0.747223
G2      0.561100 -0.319805