In [1]:
# We are basically working with 4 kinds of file 
# CSV
# Excel
# HTML
# SQL
# In order to work with SQL databases and HTML files we need to install following packages
# conda install sqlalchemy
# conda install lxml
# conda install html5lib
# conda install BeautifulSoup4

In [2]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\bhada\\Downloads\\Python_DataScience\\Python-Data-Science-and-Machine-Learning-Bootcamp\\Python-Data-Science-and-Machine-Learning-Bootcamp'

In [5]:
df = pd.read_csv('jobs.csv')

In [6]:
df.head()

,hash,company_id,company_name,title,created_date,last_checked_date,city,state,zip,country,category_id,category_name
0,000001a5f7022973b3d8b7b2c3e24082,420,SAIC,Sr. Environmental Engineer,2008-12-01,2008-12-01,Harrisburg,PA,17106.0,US,21,"Agriculture, Forestry & Fishing"
1,000005782bc4ce081dd656ee55b405b2,17976,Emcor,Carpenter Journeyman,2010-03-17,2010-03-17,U S A F Academy,CO,80841.0,US,30,Construction & Skilled Trade
2,000010b1e01a832cd8e725f9552ff9ba,9208,Wyndham Hotels and Resorts LLC,Guest Services Associate - Wyndham Arrow Point...,2015-05-28,2015-05-28,Harrison,ID,83833.0,US,70,Concierge & Guest Services
3,000011518dfb25f79fdddc85376099e2,12084,Fluor Corporation,Principal HR/IR Technician,2016-06-03,2016-07-28,Waynesboro,GA,30830.0,US,77,Human Resources
4,000014a0c96182242b75a1ba47a1b582,420,SAIC,Test Engineer (OS),2008-12-15,2008-12-15,Columbia,MD,21044.0,US,43,Engineering & Architecture

In [7]:
# method to write back to a csv file, you can use to_csv method for the same
df.head().to_csv('My_output',index=False)

In [8]:
pd.read_csv('My_output')

,hash,company_id,company_name,title,created_date,last_checked_date,city,state,zip,country,category_id,category_name
0,000001a5f7022973b3d8b7b2c3e24082,420,SAIC,Sr. Environmental Engineer,2008-12-01,2008-12-01,Harrisburg,PA,17106.0,US,21,"Agriculture, Forestry & Fishing"
1,000005782bc4ce081dd656ee55b405b2,17976,Emcor,Carpenter Journeyman,2010-03-17,2010-03-17,U S A F Academy,CO,80841.0,US,30,Construction & Skilled Trade
2,000010b1e01a832cd8e725f9552ff9ba,9208,Wyndham Hotels and Resorts LLC,Guest Services Associate - Wyndham Arrow Point...,2015-05-28,2015-05-28,Harrison,ID,83833.0,US,70,Concierge & Guest Services
3,000011518dfb25f79fdddc85376099e2,12084,Fluor Corporation,Principal HR/IR Technician,2016-06-03,2016-07-28,Waynesboro,GA,30830.0,US,77,Human Resources
4,000014a0c96182242b75a1ba47a1b582,420,SAIC,Test Engineer (OS),2008-12-15,2008-12-15,Columbia,MD,21044.0,US,43,Engineering & Architecture

In [10]:
# Now let us see how to use excel file for reading and writing purpose

pd.read_excel('example_excel.xlsx',sheetname='Sheet1')
# Note similarly we can use to_excel for writing the data from dataframe to excel file

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [12]:
# How to scrape data from html page or web

data = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

In [14]:
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","May 11, 2017"
1,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","May 10, 2017"
2,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","April 13, 2017"
3,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","April 21, 2017"
4,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","April 13, 2017"

In [15]:
# type of the data is 
type(data)

list

In [17]:
from sqlalchemy import create_engine

In [19]:
engine = create_engine('sqlite:///:memory:')

In [20]:
df

,hash,company_id,company_name,title,created_date,last_checked_date,city,state,zip,country,category_id,category_name
0,000001a5f7022973b3d8b7b2c3e24082,420,SAIC,Sr. Environmental Engineer,2008-12-01,2008-12-01,Harrisburg,PA,17106.0,US,21,"Agriculture, Forestry & Fishing"
1,000005782bc4ce081dd656ee55b405b2,17976,Emcor,Carpenter Journeyman,2010-03-17,2010-03-17,U S A F Academy,CO,80841.0,US,30,Construction & Skilled Trade
2,000010b1e01a832cd8e725f9552ff9ba,9208,Wyndham Hotels and Resorts LLC,Guest Services Associate - Wyndham Arrow Point...,2015-05-28,2015-05-28,Harrison,ID,83833.0,US,70,Concierge & Guest Services
3,000011518dfb25f79fdddc85376099e2,12084,Fluor Corporation,Principal HR/IR Technician,2016-06-03,2016-07-28,Waynesboro,GA,30830.0,US,77,Human Resources
4,000014a0c96182242b75a1ba47a1b582,420,SAIC,Test Engineer (OS),2008-12-15,2008-12-15,Columbia,MD,21044.0,US,43,Engineering & Architecture
5,000015ac5f0a9bb6806abb85141529cf,39260,CSRA Inc.,Systems Engineer/TMIP  Theatre Medical Inform...,2017-01-15,2017-01-29,Norfolk,VA,23510.0,US,180,Computer Systems Support
6,00001eb6c29012c28227bcd454d70212,2939,Jack Henry & Associates Inc.,Network Engineer Sr. - Cisco design implement...,2011-02-25,2011-03-10,Springfield,MO,65802.0,US,142,Technical Design
7,0000224a92429f0c139e46768c503f7a,420,SAIC,Technical Writer - TS/SCI Clearance,2008-11-11,2008-11-11,San Diego,CA,92140.0,US,110,"Arts, Media & Publishing"
8,000023c7ad277ac7dc06f26fe62f6067,1889,CACI International Inc.,ACQUISITION ANALYST PRINCIPAL,2008-05-05,2008-05-28,Arlington,VA,22226.0,US,0,NaN
9,000025301e0c620fb51a3e565ca63362,420,SAIC,Senior Legal Analyst,2007-12-22,2007-12-22,Mclean,VA,22107.0,US,90,Legal
10,0000258a3c2ca68fe10dfb8c3e6940a3,9208,Wyndham Hotels and Resorts LLC,Senior CMA-Kona,2013-07-23,2013-08-01,Kailua,HI,96734.0,US,0,NaN
11,000026e022fe7c2c5f4c3dc08140a28f,8876,Legg Mason,Institutional Client Service Specialist I,2011-03-11,2011-03-28,New York,NY,10007.0,US,35,Customer Service
12,000027b5fe16db92685def6de3399c2a,420,SAIC,Sr. Systems Engineer,2008-11-19,2008-11-19,Apopka,FL,32704.0,US,142,Technical Design
13,00002946a46f52e9af0fa4799059fbef,3560,Clean Harbors Inc.,Senior Business Data Analyst Supply Chain - R...,2014-10-07,2014-12-03,Richardson,TX,75080.0,US,94,Supply Chain & Logistics
14,00002fcec290456377cfa8d025f03887,420,SAIC,Information Assurance Specialist,2008-08-02,2008-08-02,Falls Church,VA,22040.0,US,141,Technology
15,00003a071b0e248969e2e33014626b5e,9036,Rite Aid,Shift Supervisor,2012-07-28,2012-12-03,Detroit,MI,48222.0,US,46,General Management & Business
16,00003c00be7c1796638b21d806dbc00c,38383,HealthSouth Corporation,Registered Nurse - PRN,2015-10-30,2015-11-19,Memphis,TN,38103.0,US,56,Nursing
17,00003c1ce99d7577743927a572167660,25188,H&R Block Inc.,First Year Tax Professional,2014-07-18,2015-02-03,Jamaica,NY,11430.0,US,1,Accounting & Finance
18,00003f6493407fe72d84a1dd0bdc05a5,9208,Wyndham Hotels and Resorts LLC,Inventory Clerk - Bonnet Creek Orlando FL,2011-07-16,2011-07-18,Orlando,FL,32801.0,US,100,Inventory
19,0000443941c780dddfd61abed4987e26,13613,Fulton Financial Corporation,Customer Service Rep - Bilingual,2012-12-07,2012-12-07,Lancaster,PA,17622.0,US,35,Customer Service
20,0000444aa60fca9c80b413b54efc7312,20118,RR Donnelley & Sons,Industrial Designer - Packaging (29980),2016-04-25,2016-08-01,Santa Clara,CA,95051.0,US,142,Technical Design
21,00004897588ecb5f30bec7b27960c8ea,420,SAIC,Military Engineer Analyst,2008-05-31,2008-05-31,Mclean,VA,22107.0,US,43,Engineering & Architecture
22,00004f4dfad0e70a22b635960f353428,17976,Emcor,Alarm Technician,2010-01-24,2010-01-24,Glen Burnie,MD,21060.0,US,0,NaN
23,00005a8592f92171e03856ad229b732a,420,SAIC,Defense Policy Analyst,2008-04-03,2008-04-03,Arlington,VA,22226.0,US,20,"Aerospace, Aviation & Defense"
24,00005bf8431745cd4a052cfb64ab155a,6061,Service Corporation International,Maintenance Worker,2014-11-26,2014-12-25,Skokie,IL,60076.0,US,98,Maintenance & Repair
25,00005e978997a265f4270cef61674d9d,36234,Leidos,629005 - Master Scheduler,2016-06-04,2016-06-17,Bridgewater,MA,NaN,US,150,Tech Management
26,00005fc4c0d415f0f1a4cfe3475ee495,420,SAIC,Telecommunication Systems Control Technician,2010-12-20,2010-12-20,Arlington,VA,22226.0,US,156,Telecommunications
27,000065ea53adfc5f4f280b97eaa09651,8921,Michaels Stores,Manager - Store Facilities,2012-05-22,2012-06-04,Coppell,TX,75019.0,US,1,Accounting & Finance
28,0000672fd41a89ec7dfc4c09faab9202,1889,CACI International Inc.,COTS/ERP Systems Analyst Job,2012-10-20,2013-01-08,Fairfax,VA,22038.0,US,141,Technology
29,00006f9fd32cc9871a5f324cafafb4e8,420,SAIC,Software Engineer,2011-05-02,2011-05-02,Beavercreek,OH,45432.0,US,152,Software Development
...,...,...,...,...,...,...,...,...,...,...,...,...
4752587,ffff924c9945503163185b4d753ca077,420,SAIC,Security Engineer,2008-10-23,2008-10-23,San Diego,CA,92140.0,US,43,Engineering & Architecture
4752588,ffff92c0bef2e70c202cf21186cc03cb,420,SAIC,Geospatial Analyst,2009-12-05,2009-12-05,Suitland,MD,20746.0,US,0,NaN
4752589,ffff93b2399987585875357643818707,2119,Nuance Communications Inc,Healthcare Business Development Manager,2016-11-17,2016-11-21,Los Angeles,CA,90009.0,US,55,Healthcare Management & Finance
4752590,ffff944996b6f372a9f958b56da32cb8,3340,Harman International Inds,EMC Engineer,2015-05-29,2015-07-10,Farmington Hills,MI,48336.0,US,118,Lab Technician
4752591,ffff9b11da8259c1acc9cc205c4616be,38383,HealthSouth Corporation,Pharmacist,2017-01-17,2017-01-31,Henderson,NV,89044.0,US,50,Health & Medical
4752592,ffff9e696c8a254647f35a9d7892b851,420,SAIC,Systems/Network Admin,2011-03-30,2011-03-30,Greenwood Village,CO,80111.0,US,149,Network Administrator
4752593,ffffa73e1e09d2f293e0cd4ddc0a337b,8829,Hyatt,Room Attendant,2014-03-09,2014-03-09,San Antonio,TX,78245.0,US,0,NaN
4752594,ffffa7ba2affba21bc63832fdbefe154,24247,Veeva Systems,Workplace Services Coordinator  Part Time,2015-05-10,2015-06-17,Columbus,OH,43216.0,US,150,Tech Management
4752595,ffffaa3e5b26b4c95616f8039fbb0592,420,SAIC,C4ISR Planner,2010-02-08,2010-02-08,Irvine,CA,92606.0,US,0,NaN
4752596,ffffadd323f8d72fe67f0f9c0e81b07c,8829,Hyatt,Bell Attendant,2011-03-09,2011-05-11,Baltimore,MD,21202.0,US,0,NaN
4752597,ffffade0015a9f196d3bf3f943417f3c,3362,Nordstrom,Communications (Store Operator) - NorthPark Ce...,2014-07-04,2014-08-26,Dallas,TX,75201.0,US,127,Retail
4752598,ffffb9dfb3d7841899cb58aa89bada23,8483,Panera Bread Co,Production Zone Leader/QC,2016-09-09,2016-09-26,Phoenix,AZ,85002.0,US,122,Restaurant & Food Service
4752599,ffffc027bf60270b7bb5a7170073c13e,420,SAIC,Branch Manager,2009-02-22,2009-02-22,Columbia,MD,21044.0,US,17,Office Manager
4752600,ffffc251036ef40ada32178a7a6203a7,9694,Aecom Technology Corporation,Market Segment Leader - Operations & Maintenance*,2012-03-23,2013-04-19,New York,NY,10007.0,US,102,Operations
4752601,ffffc42223be17f5f9c0c81c35245b3c,25188,H&R Block Inc.,First Year Tax Professional - Bilingual,2015-07-18,2015-09-30,Cutler Ridge,FL,33157.0,US,38,Education & Training
4752602,ffffc4dc9747da9b92d359741d045a02,3363,Burlington Coat Factory Corporation,Sportswear Associate/Clerk,2013-07-31,2013-09-15,Everett,WA,98201.0,US,127,Retail
4752603,ffffc5ee2335cfb17944278906dbd0fa,420,SAIC,Logistics Analyst II - Fort Benning GA,2008-12-24,2008-12-24,Fort Benning,GA,31905.0,US,95,Logistics
4752604,ffffc7a4fdf16d1b513caca36f797cb6,8483,Panera Bread Co,Night Baker,2016-09-01,2016-09-07,Schaumburg,IL,60196.0,US,122,Restaurant & Food Service
4752605,ffffcccf5b05efdaea26cf7d68d03d5d,420,SAIC,Technical Writer (RT),2009-12-13,2009-12-13,Columbia,MD,21044.0,US,113,Writing & Editing
4752606,ffffde8dbf86937f818a7f97056db94d,19303,Robert Half International,Accountemps Salaried Professional Service Staf...,2016-06-04,2016-06-04,San Mateo,CA,94401.0,US,1,Accounting & Finance
4752607,ffffe1b0c864c5aabf6b7fc58fe829a4,34671,Jones Lange Lasalle Inc.,Security Guard,2015-01-09,2015-03-10,Cleveland,OH,44114.0,US,89,Law Enforcement & Security
4752608,ffffe438e6c562f0bfe8c23c9bb4a13c,420,SAIC,Signal Processing Engineer,2008-12-15,2008-12-15,Chantilly,VA,20151.0,US,43,Engineering & Architecture
4752609,ffffe4e0f36693c6fefa7e56b4d5e481,24491,Charles River,Associate Quality Assurance Auditor,2016-05-12,2016-06-11,Horsham,PA,19044.0,US,151,Tech Quality Assurance
4752610,ffffe6ca31cfe35f67341fd465ffdacd,18468,Frontier Communications,Account Executive Sr Wireless,2012-01-26,2012-07-08,Beaverton,OR,97075.0,US,133,Account Management
4752611,ffffecdd260ca658a0077c08a95b0cc5,420,SAIC,Computer Systems Analyst III (EMA - LS028),2009-12-05,2009-12-05,Norfolk,VA,23501.0,US,141,Technology
4752612,fffff7ed77f78dd850caabaafb5afa42,13356,Sabre Holdings Corporation,Senior Network / Systems Consulting,2012-11-16,2013-02-03,Dallas,TX,75201.0,US,149,Network Administrator
4752613,fffff8bfcb3a2321691750fad03f5af2,1889,CACI International Inc.,Project Manager (Intel),2015-07-15,2015-08-28,Springfield,VA,22156.0,US,141,Technology
4752614,fffffa06be8c9745d08e3da94e51c027,12620,Staples,Senior Business Intelligence Developer/Analyst,2011-03-04,2011-04-03,Broomfield,CO,80020.0,US,134,Business Development
4752615,fffffc16ef8eb410705e5f46644117b5,3394,Chesapeake Energy Corp,Well Tender - Elkhorn City KY,2015-06-30,2015-07-04,Elkhorn City,KY,41522.0,US,0,NaN
4752616,fffffea6a479fe10b4bc1bbbb8be5a59,3659,Gartner,Account Executive,2015-11-07,2016-02-02,Stamford,CT,6901.0,US,133,Account Management

In [21]:
df = pd.read_excel('example_excel.xlsx',sheetname='Sheet1')

In [22]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [23]:
df.to_sql('my_table',engine)

In [24]:
sqldf = pd.read_sql('my_table',con=engine)

In [25]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15