In [3]:
#import numpy and panda libraries 
import numpy as np
import pandas as pd

In [9]:
# define various dataset
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b': 20, 'c':30}
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [13]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [14]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [15]:
# note that series can hold any type of data function even you can pass inbuilt function as a data point 
# like sum, print etc.
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4],['USA','germany','USSR','japan'])

In [17]:
ser1

USA        1
germany    2
USSR       3
japan      4
dtype: int64

In [18]:
ser2 = pd.Series([1,2,5,4],['USA','germany','italy','japan'])

In [19]:
ser2

USA        1
germany    2
italy      5
japan      4
dtype: int64

In [20]:
ser1['USA']

1

In [21]:
ser3 = pd.Series(data = labels)

In [22]:
ser3

0    a
1    b
2    c
dtype: object

In [23]:
ser3[0]

'a'

In [24]:
# note the NAN value when there is no match in respect to index 
# also note that the result is converted to float to fit all the value possible 
ser1 + ser2

USA        2.0
USSR       NaN
germany    4.0
italy      NaN
japan      8.0
dtype: float64